.waypath-box {
text-align: right;
font-size: 80%;
border: 0px solid #00288C;
margin: 5px;
background-color: transparent;
}

.wp-box-title {
margin-left: 3px;
margin-bottom: 5px;
}

.wp-item {
margin-top: 3px;
margin-left: 3px;
margin-right: 3px;
line-height: 1;
padding: 5px;
}

.wp-item-title {
margin-bottom: 2px;
}

.wp-item-origin {
margin-top: 2px;
margin-bottom: 3px;
}

.wp-item-summary {
margin-top: 3px;
line-height: 1;
}

